{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Vikash Vishnu's Portfolio">
		<meta name="author" content="Vikash Vishnu">

    <link href="{% static 'CSS/style.css' %}" rel="stylesheet" type="text/css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<!-- Custom fonts for this template -->
		<link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

		<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

		<!-- jQuery first, twitter-bootstrap -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/js/bootstrap.bundle.js" integrity="sha256-KrRa8Ba46ro/+RPPjj/MSJqZViXxrnTp8Nyg5zLpHpQ=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/js/bootstrap.bundle.js.map" integrity="undefined" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/js/bootstrap.bundle.min.js.map" integrity="undefined" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/js/bootstrap.bundle.min.js.map" integrity="undefined" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/js/bootstrap.js" integrity="sha256-BnQCXjVFnK5zlaIT0cvrOOITZrgLfch+T2Exz4tUISE=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/js/bootstrap.js.map" integrity="undefined" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha256-oKpAiD7qu3bXrWRVxnXLV1h7FlNV+p5YJBIr8LOCFYw=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/js/bootstrap.min.js.map" integrity="undefined" crossorigin="anonymous"></script>

		<!-- jQuery first, jquery-easing -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.compatibility.js" integrity="sha256-MWsk0Zyox/iszpRSQk5a2iPLeWw0McNkGUAsHOyc/gE=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.compatibility.min.js" integrity="sha256-5ZrdaeOQG3t2uVEkC6FxsGF2y3taTxhdjyGLXi3RUDk=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.compatibility.min.js.map" integrity="undefined" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js" integrity="sha256-tw5/wId1F+4LyUF2ZJnpRoHNXJ66jrK3IGhfq4LhLjY=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js" integrity="sha256-H3cjtrm/ztDeuhCN9I4yh4iN2Ybx/y1RM7rMmAesA0k=" crossorigin="anonymous"></script>


    <title>Vikash Vishnu</title>
  </head>
  <body id="page-top">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
				<a class="navbar-brand js-scroll-trigger" href="#page-top">
					<span class="d-block d-lg-none">Vikash Vishnu</span>
					<span class="d-none d-lg-block">
						<img class="img-fluid img-profile rounded-circle mx-auto mb-2 rotate90" {% static 'images/profile.jpg' %}" alt="">
					</span>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger" href="#about">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger" href="#education">Education</a>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger" href="#awards">Awards</a>
						</li>
					</ul>
				</div>
			</nav>





		  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Vikashvishnu Srinivasan</h1>
        <div class="subheading mb-5">
          <table>
            <tr>
              <td><i class="far fa-address-card"></i></i></td>
              <td>2/38, MIG1, TNHB 1500 Flats, Sholinganallur, Chennai - 600119
              </td>
            </tr>
            <tr>
              <td><i class="fas fa-mobile-alt"></i></td>
              <td>8870082310</td>
            </tr>
            <tr>
              <td><i class="far fa-envelope"></i></i></td>
              <td><a href="mailto:vikashvishnu1508@gmail.com">vikashvishnu1508@gmail.com</a></td>
            </tr>
          </table>
        </div>
        <p class="lead mb-5">Full Stack Developer with 3+ years of experience in Python, Django, .Net, Azure and front end technologies.
          <br>I am experienced in leveraging agile scrum framework to provide a robust synopsis for high level overviews.
          <br>Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/vikash-vishnu-46493466">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/vikashvishnu1508">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://www.instagram.com/vikashvishnu1508/">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
    </section>



    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Product Developer</h3>
            <div class="subheading mb-3">FEFundInfo Pvt. Ltd.</div>
            <p>Build CI/CD pipelines using Azure DevOps and migrated projects from TFS to Azure Git with App Insights configured to it.
              <br>Refactor the application to incorporate security and monitoring using Checkmarks and AppInsights respectively.
              <br>Involved with resolution of complex software development issues that may arise in a production environment. 
              <br>Analyzes problems, conduct root cause analysis, helps in resolution of problems using defined problem management procedure and helps in application support and maintenance of customer applications
            </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">November 2018 - Present</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Programer Analyst</h3>
            <div class="subheading mb-3">Cognizant Technology Solutions</div>
            <p>Developing presentation and email templates using HTML, CSS and JavaScript
              <br>Document maintenance using Sharepoint and IDEA for CON tool
              <br>Developed process simplification tool while ensuring no bugs in the application
              <br>Write complex queries, stored procedures, functions, and views for application logic in SQL Server
            </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">June 2016 - September 2018</span>
          </div>
        </div>

      </div>

    </section>





    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Sri Chandrasekharendra Saraswathi Viswa Mahavidyalaya University</h3>
            <div class="subheading mb-3">Bachelor of Mechanical Engineering</div>
            <p>GPA: 8.96</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2012 - May 2016</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Velammal School of Excellence</h3>
            <div class="subheading mb-3">High School - Computer Science Program</div>
            <p>Percentage: 82.58</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">June 2010 - March 2012</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Saraswathi Matriculation School</h3>
            <div class="subheading mb-3">Seconday School</div>
            <p>Percentage: 84</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">May 2009 - March 2010</span>
          </div>
        </div>

      </div>
    </section>







    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Skills</h2>


        <table>
          <tr>
            <td><div class="subheading mb-3">Programming Languages</div></td>
            <td>&emsp;&emsp;&emsp;&emsp;</td>
            <td>&emsp;&emsp;&emsp;&emsp;</td>
            <td>&emsp;&emsp;&emsp;&emsp;</td>
            <td>&emsp;&emsp;&emsp;&emsp;</td>
            <td><div class="subheading mb-3">Frameworks</div></td>
          </tr>
          <tr>
            <td>Python, C#<br><br><br></td>
            <td>&emsp;&emsp;&emsp;&emsp;</td>
            <td>&emsp;&emsp;&emsp;&emsp;</td>
            <td>&emsp;&emsp;&emsp;&emsp;</td>
            <td>&emsp;&emsp;&emsp;&emsp;</td>
            <td>Django, ASP.NET MVC<br><br><br></div></td>
          </tr>

          <tr>
            <td><div class="subheading mb-3">Cloud Technologies</div></td>
            <td>&emsp;&emsp;&emsp;&emsp;</td>
            <td>&emsp;&emsp;&emsp;&emsp;</td>
            <td>&emsp;&emsp;&emsp;&emsp;</td>
            <td>&emsp;&emsp;&emsp;&emsp;</td>
            <td><div class="subheading mb-3">Databases</div></td>
          </tr>
          <tr>
            <td>Azure Development, Azure DevOps, Azure Git<br><br><br></td>
            <td>&emsp;&emsp;&emsp;&emsp;</td>
            <td>&emsp;&emsp;&emsp;&emsp;</td>
            <td>&emsp;&emsp;&emsp;&emsp;</td>
            <td>&emsp;&emsp;&emsp;&emsp;</td>
            <td>MySQL, MS SQL Server<br><br><br></div></td>
          </tr>

          <tr>
            <td><div class="subheading mb-3">Web technologies</div></td>
            <td>&emsp;&emsp;&emsp;&emsp;</td>
            <td>&emsp;&emsp;&emsp;&emsp;</td>
            <td>&emsp;&emsp;&emsp;&emsp;</td>
            <td>&emsp;&emsp;&emsp;&emsp;</td>
            <td><div class="subheading mb-3">Worlflow</div></td>
          </tr>
          <tr>
            <td>HTML, CSS, JavaScript</td>
            <td>&emsp;&emsp;&emsp;&emsp;</td>
            <td>&emsp;&emsp;&emsp;&emsp;</td>
            <td>&emsp;&emsp;&emsp;&emsp;</td>
            <td>&emsp;&emsp;&emsp;&emsp;</td>
            <td>Agile methodology - Scrum, Canban</div></td>
        </table>

    </section>




    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="projects">
      <div class="w-100">
        <h2 class="mb-5">Projects</h2>
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-3">
          <div class="resume-content">
            <h3 class="mb-0">Ticket Management Application</h3>
            <div class="subheading mb-3"><u>Technology used:</u> Python, Django, HTML, CSS and JavaScript</div>
            <p>This application allows the users to track and manage incoming request and support tickets in a projects
              <br>User can view individual report of their tickets and also their team member reports
            </p>
            <p><u>Source:</u> <td><a href="https://github.com/vikashvishnu1508/ticketManagementSystem">Github</a></td></p>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between  mb-3">
          <div class="resume-content">
            <h3 class="mb-0">Algorithum Solver</h3>
            <div class="subheading mb-3"><u>Technology used:</u> Python</div>
            <p>Gives programer's an oppurtunity to write codes for given problem and test against the given test cases</p>
            <p><u>Source:</u> <td><a href="https://github.com/vikashvishnu1508/algorithmPractice">Github</a></td></p>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between  mb-3">
          <div class="resume-content">
            <h3 class="mb-0">Personal portfolio</h3>
            <div class="subheading mb-3"><u>Technology used:</u> Python, Django, HTML, CSS and JavaScript</div>
            <p>This is a project for my personal portfolio using Django.</p>
            <p><u>Source:</u> <td><a href="https://github.com/vikashvishnu1508/speechSite">Github</a></td></p>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between  mb-3">
          <div class="resume-content">
            <h3 class="mb-0">Speech Recoginiser</h3>
            <div class="subheading mb-3"><u>Technology used:</u> Python, Google-NLP</div>
            <p>When the user speaks in English it will convert the vice into text</p>
            <p><u>Source:</u> <td><a href="https://github.com/vikashvishnu1508/speechSite">Github</a></td></p>
          </div>
        </div>

      </div>
    </section>

    <hr class="m-0">






    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
      <div class="w-100">
        <h2 class="mb-5">Awards &amp; Certifications</h2>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Got Azure AZ-900 - 2020</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Awarded with a cash prize for a new product prototype - 2019</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Awarded as the digital champion for Quarter - IV - 2017 </li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            1<sup>st</sup>
            Place - SCSVMV University - Emerging Tech Competition - 2016</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Got CNC certificate - 2015</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Got Robotics certificate - 2015</li>
        </ul>
      </div>
    </section>

  </div>








		<script>

		!function(t){"use strict";t('a.js-scroll-trigger[href*="#"]:not([href="#"])').click(function(){if(location.pathname.replace(/^\//,"")==this.pathname.replace(/^\//,"")&&location.hostname==this.hostname){var e=t(this.hash);if((e=e.length?e:t("[name="+this.hash.slice(1)+"]")).length)return t("html, body").animate({scrollTop:e.offset().top},1e3,"easeInOutExpo"),!1}}),t(".js-scroll-trigger").click(function(){t(".navbar-collapse").collapse("hide")}),t("body").scrollspy({target:"#sideNav"})}(jQuery);
		</script>

  </body>
</html>